// html, body{
//   width: 100%;
//   height: 100%;
// }
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.wrapper{
  min-height: 650px;
  overflow: hidden;
  position: relative;
}

.container{
  margin: 0 auto;
  max-width: 940px;
  min-width: 970px;
  &:after{
  content: "";
  display: block;
  clear: both; }
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}