// html, body{
//   width: 100%;
//   height: 100%;
// }
.wrapper{
  min-height: 650px;
  overflow: hidden;
  position: relative;
}

.container{
  margin: 0 auto;
  max-width: 940px;
  &:after{
  content: "";
  display: block;
  clear: both; }
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}