.burger_page{
	background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
	position: relative;
	text-align: center;
}


.burgers_page_content{
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%);
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
    min-width: 970px;    
    max-width: 940px;
}
.left_errow-svg{	
	height: 18px;
	width: 40px;
	transform: rotate(90deg);	
}
.right_errow-svg{	
	height: 18px;
	width: 40px;
	transform: rotate(-90deg);	
}
.burger-carusel_content__btn-prew{
	cursor: pointer;
	position: absolute;
	left: -50px;
	top: 50%;
	transition: .3s;
	&:hover{
		left: -45px;
	}
}
.burger-carusel_content__btn-next{
cursor: pointer;
position: absolute;
	right: -50px;
	top: 50%;
	transition: .3s;
	&:hover{
		right: -45px;
	}
}


.burger_composition-window:hover .burger_item_composition{
	opacity: 1;
}
.burger_item_composition{
	position: absolute;
	top: 1px;
    left: 0px;
	height: 90px;
	width: 90px;
	background: #e35028;
	border-radius: 10px;
	opacity: .5;
	transition: .3s;
	z-index: 10;
   
}


.burger{
	width: 50px;
	height: 50px;
	margin-top: 10px;
}
.burger_item_composition-title{
	color: #fff;
	font-family: 'gagalinregular';
	font-size: 14px;
}
.burger_composition_list{
	position: absolute;
	height: 330px;
	width: 270px;
	background: #ffffff;
	margin-left: 4px;
	text-align: justify;
	text-align-last: justify;
	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	opacity: 0.902;
  	left: 85px;
  	z-index: 100;
    display: none;
}
.burger_composition_list-active{
	display: block;
}
.beef, .buns, .greens, .souse, .cocumber, .cheese{
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.burger_composition_item-title, .burger_composition_item-weight, .svg_pic{
	display: inline-block;
	vertical-align: middle;
}

.burger_composition_item{
   padding: 2px;
}
.burger_composition_item-title{
font-family: 'ubunturegular';
font-size: 14px;
color: #2f3234;
}

.burgers_page_img, .burger_page_description{
	display: inline-block;
	width: 460px;
    vertical-align: middle;
}
.burger_page_description{
	text-align: left;
	margin-left: 30px;
}
.burgers_page_img img{
    margin-left: 0px;
}
.burger_page_title{
	 font-family: 'gagalinregular';
	 font-size: 70px;
	 margin-bottom: 30px;
	 color: #ffffff;
}
.burger_page_text{
	font-family: 'ubuntulight';
	font-size: 14px;
	line-height: 2;
}
.burger_page_price, .burger_page_order{
	display: inline-block;
}
.burger_page_price{
	font-family: 'gagalinregular';
	font-size: 70px;
	color: #e35028;
}
.burger_page_order{
	padding: 15px 30px;
    background: #e45028;
    border-radius: 5px;
    color: #fff;
    margin-left: 30px;
    margin-top: -10px;
    &:hover {
    	background: #c1401e;
     }
}

.burger_page_calories{
	position: absolute;
	bottom: -50px;

}

.kkal{
	height: 60px;
	width: 60px;
	position: absolute;
	top: -150px;
	left: 0px;
	opacity: .7;
}
.burger_page_calories_contents {
	position: absolute;
	top: -128px;
	left: 13px;
	color: #fff;
	font-family: 'gagalinregular';
	font-size: 20px;
	opacity: .7;
}
.burger_page_calories_contents_abriv{
	position: absolute;
	top: -90px;
	left: 15px;
	color: #fff;
	font-family: 'gagalinregular';
	font-size: 14px;
	opacity: .7;
}





