#first_page{
	height: 100vh;
    min-height: 650px;
	background: url("../img/bg/bg1.png") center center;
	background-size: cover;
	position: relative;
	z-index: 1;
	  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../img/bg/texture.png);
	opacity: .8; 
	z-index: -1;
  }
}
// ====== Navigation on a right
.navigation{
	position: fixed;
	right: 45px;
    top: 100px;
}

.navigation_circle{
	height: 6px;
	width: 6px;
	background-color: #fff;
	margin: 10px;
	border-radius: 50%;
}

.navigation_item{
  margin: 4px;
  border: 1px solid transparent;
  border-radius: 50%;
  &:first-child{
  	border: 1px solid #fff;
  }
}

.contant{
	text-align: center;
	margin: 0 auto;
	position: relative; 
	top: 30%; 
	transform: translateY(-50%);
}
.content_wrap > *{
	vertical-align: middle;
}
.content_wrap{
	min-width: 970px;
}
.content__img{
	height: 450px;
	width: 450px;
}
.drops{
	position: absolute;
	top: 28px;
    width: 466px;
    height: 361px;
    margin-left: -26px;
}
.content_title-block{
	display: inline-block;
	text-align: left;
}
.content_title{
	color: #f9b43b;
	font-size: 72px;
	font-family: 'gagalinregular';
}
.content_title-text{
	color: #FFFFFF;
	font-size: 62px;
    font-family: 'lifehackmedium';
    word-spacing: 10px;
}
.content_pic{
	display: inline-block;
}

