.first_page{
	background: url("../img/bg/bg1.png") center center;
	background-size: cover;
	position: relative;
	z-index: 1;
	  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../img/bg/texture.png);
	opacity: .8; 
	z-index: -1;
  }
}


.contant{
	text-align: center;
	margin: 0 auto;
	position: relative; 
	top: 50%; 
	transform: translateY(-50%);
	min-width: 970px;
    max-width: 940px;
}
.content_wrap > *{
	vertical-align: middle;
}

.content__img{
    height: 423px;
    width: 416px;
    margin-top: -27px;
    margin-left: 21px;
}
.drops{
	position: absolute;
	top: -10px;
    width: 455px;
    height: 361px;
    margin-left: -16px;
}
.content_title-block{
	display: inline-block;
	text-align: left;
	margin-top: 11px;
}
.content_title{
	color: #f9b43b;
	font-size: 72px;
	font-family: 'gagalinregular';
}
.content_title-text{
	color: #FFFFFF;
	font-size: 62px;
    font-family: 'lifehackmedium';
    word-spacing: 10px;
}
.content_pic{
	display: inline-block;
}

// ====== Navigation on a right
.navigation{
    position: absolute;
    right: 140px;
	top: 100px;
    z-index: 3000;
}
.navigation_item{
	margin-bottom: 5px;
}

.navigation_circle{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-size: 32px;
    border: 1px solid transparent;
    position: relative;
}
.navigation_circle_active{
	border: 1px solid #fff;
}

.navigation_circle span {
    content: "";
    text-align: center;
    position: absolute;
 	width: 6px;
  	height: 6px;
    background: #fff;
    border-radius: 50%;
    left: 25%;
    top: 29%;
}
.errow{
	height: 18px;
    width: 40px;
}
.down_errow{
	cursor: pointer;
	position: absolute;
	left: 50%;
	bottom: -100px;
	transition: .3s;
	&:hover{
		bottom: -90px;
	}
}
