
.header{   
    position: absolute;
    top: 0;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.header_left, .header_right{
	float: left;
}

.header_left{
	width: 260px;
	margin-left: -10px;
}
.logo{
	width: 100px;
	height: 100px;
}
.header_right{
	width: 680px;
	text-align: right;
    margin-top: 36px;
    margin-left: 10px;
}
.menu__items{
	display: inline-block;
}

.menu_item{
	display: inline-block;
	margin-left: 10px;
	&:not(:last-child):after{
	content: "";
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
	}
}
.menu_item-link-order{
	padding: 10px 17px 10px 17px;
    background: #e45028;
    border-radius: 5px;
    &:hover {
    background: #c1401e;
     }
}


.menu_item-link{
	font-family: 'ubunturegular';
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
    border-bottom: 1px solid transparent;
    transition: .3s;
    &:hover{
        border-bottom: 1px solid #fff;
    }

}

