#team_page{
	height: 100vh;
    min-height: 650px;
	background: url("../img/bg/bg4.png") center center;
	background-size: cover;
	position: relative;
}


.team_page_block{
	height: 100vh;
	min-width: 540px;
	max-width: 540px;
	background: rgba(49, 52, 54, .8);
    position: absolute; 
    right: 0px;
    text-align: left;
}

.team_page_accordion{
	margin-left: 75px;
}
.team_accordion_block{
	min-width: 540px;
	margin-bottom: 30px;
}
.team_page_title{
	color: #f9b43b;
	font-family: 'gagalinregular';
	font-size: 70px;
	margin-left: 75px;
	margin-top: 110px;
	margin-bottom: 85px;
}

.team_accordion_btn{
	color: #fff;
	font-family: 'gagalinregular';
	font-size: 14px;
	&:focus { outline: none; }
	padding: 0;
    border: none;
    background: none;
    margin-bottom: 15px; 
    display: block; 
}
.team_carret{
	margin-right: 10px;
	color: #f9b43b;
}
.team_accordion_title, .team_accordion_description{
 color: #fff;
 font-size: 14px;
}
.team_accordion_description{
 font-family: 'ubuntulight';
 max-width: 210px;
}
.team_accordion_title{
	 font-family: 'ubuntubold';
	 margin-bottom: 20px;
}

.team_accordion_img{
  display: inline-block;
  max-width: 150px;
  margin-right: 20px;
}
.team_accordion_photo{
	height: 100px;
    width: 100px;
	border-radius: 50%;
}
.team_accordion_text{
  display: inline-block;
}










