.team_page{
	background: url("../img/bg/bg4.png") center center;
	background-size: cover;
	position: relative;
}


.team_page_block{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	min-width: 50%;
	background: rgba(49, 52, 54, .8);
    text-align: left;
}
.team_page_title{
	color: #f9b43b;
	font-family: 'gagalinregular';
	font-size: 70px;
	margin-left: 75px;
	margin-top: 110px;
	margin-bottom: 85px;
}
.team_acco{
	margin-left: 75px;
	min-width: 50%;
	margin-bottom: 30px;
}
.team_acco__item{
	margin-bottom: 20px;
}
.team_acco__trigger{
	color: #fff;
	font-family: 'gagalinregular';
	font-size: 14px;
	padding: 0;
    margin-bottom: 15px; 
    display: block; 
    text-decoration: none;
    position: relative;

    &:before{
    	content: "";
    	display: block;
    	position: absolute;
    	left: -19px;
    	top: 6px;
    	width: 0;
    	height: 0;
    	border-top: 7px solid #f9b43b;
        border-left: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}
.team_acco__content{
	display: none;
}

.team_acco__text{
   display: inline-block;
}
.team_acco__title, .team_acco__text-content{
 color: #fff;
 font-size: 14px;
}
.team_acco__text-content{
 font-family: 'ubuntulight';
 max-width: 210px;
 display: inline-block;
}
.team_acco__title{
	 font-family: 'ubuntubold';
	 margin-bottom: 20px;
}

.team_acco__pic{
  display: inline-block;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
}
.team-acco__img{
	background: url(../img/bg/bg_faces/team_accordion.png) center center;
	background-size: 133px;
    height: 100px;
}

.team_acco__item-active .team_acco__trigger{
  color:#f9b43b;
&:before{
	transform: rotate(180deg);
	top: 0;
}	
}









